<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkmunla.asus.homedashboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".DetailsActivity.LokasiDetailsActivity" />
        <activity android:name=".DetailsActivity.MasjidDetailsActivity" />
        <activity android:name=".DetailsActivity.ustadz_details" />
        <activity android:name=".DetailsActivity.HomeDetailsActivity" />
        <activity android:name=".Activity.MasjidActivity" />
        <activity android:name=".Activity.UstadzActivity" />
        <activity android:name=".Activity.LokasiActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>